body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:black;
    font-family: 'Poppins';
}

button {
    font-family: 'Poppins';
}

.hidden {
    display: none;
}

a {
    all: unset; 
    display: inline;
    font-family: 'Poppins';
}

/* Modal */

.modal {
    position: absolute;
    visibility: hidden;
    border-radius: 16px;
    background-color: white;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding: 42px 32px;
    opacity: 0; 
    transform: translateY(-50px); 
    transition: opacity 0.5s ease, transform 0.5s ease; 
}

.modal.show {
    visibility: visible; 
    opacity: 1; 
    transform: translateY(0); 
}

/* Text */

h3 {
    margin: 16px 12px;
}

.modal__title {
    font-size: 30px;
    font-weight: 500;
}

.modal__text {
    font-size: 18px;
    color: #5E2FD3;
}

/* Button */

.button {
    border-radius: 10px;
    font-size: 18px;
    font-style: normal;
    padding: 12px 50px; 
    background-color: #1F83FF;
    color: white;
    gap: 12px;

    &:hover {
        background-color: #0454b0;
        cursor: pointer;
    }

    &:active {
        background-color: rgb(1, 32, 90);
    }
}

/* Modal buttons */

.modal__buttons {
    display: flex;
    justify-content: center;
    gap: 18px; 
    margin-top: 12px;
}

.wrapper {
    display: flex;
    gap: 40px;
    margin-top: 32px;
}

.button:disabled {
    background-color: gray;
    pointer-events: none;
    cursor: not-allowed;
}

.button:hover {
    cursor: pointer;
}

.button-secondary {
    border-color: #1383ff;
    background-color: white;
    color: #1383ff;

    &:hover {
        color: white;
    }
}